<div id="form-wrapper">

<h2>Log in</h2>

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <div><%= f.label :email %><br /></div>
    <div><%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email_field", :placeholder => "Email", autofocus: true %></div>
  </div>

  <div class="field">
    <div><%= f.label :password %><br /></div>
    <div><%= f.password_field :password, autocomplete: "off", id: "password_field", :placeholder => "Password" %></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div><%= f.check_box :remember_me %></div>
      <div><%= f.label :remember_me %></div>
    </div>
  <% end -%>

  <div class="actions">
    <div><%= f.submit "Log in" %></div>
    <div id"forgot-password"><%= render "devise/shared/links" %></div>
  </div>
</div>
<% end %>
